@import './asset/css/fonts.css';

/* font */
body,
p,
.font-body {
  color: #1F1F1F;
  font-family: 'Andika';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

strong {
  font-family: 'Andika';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

h1 {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 800;
}

h2 {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
}

.font-display1 {
  font-family: 'Lora';
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
}

.font-display2 {
  font-family: 'Lora';
  font-size: 42px;
  font-weight: 500;
  line-height: normal;
}

.font-display-title {
  font-family: 'Lora';
  font-weight: 600;
  font-size: 160px;
  color: rgba(44, 62, 80, 0.3);
  line-height: 0.6;
}

@media (max-width: 768px) {
  .font-display2 {
    font-size: 30px;
  }
}

.font-display-sub {
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  line-height: 1.8;
}

.font-title {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 2px;
}

/* font */

/* Timeline */
.MuiTimelineDot-root {
  border-color: var(--bs-p-mutedblue) !important;
  margin: 16px 0;
}

.MuiTimelineConnector-root {
  background-color: var(--bs-p-mutedblue) !important;
}

/* Timeline */

#Project {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  #Project {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

#Contact {
  height: calc(100vh - 188.8px);
}

#footer {
  padding-top: 28px;
  padding-bottom: 28px;
}


.custom-container {
  max-width: 900px;
}



.nav-main {
  gap: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-main .nav-link {
  padding: 5px 0 !important;
  border-bottom: solid 2px var(--bs-P-light);
}

@media (min-width: 768px) {
  .nav-main .nav-link:hover {
    border-bottom: solid 2px var(--bs-P-darkblue);
  }
}

.banner-img-container {
  position: absolute;
  top: 10%;
  left: -20px;
  width: 44vw;
}

.banner-img-wrapper {
  aspect-ratio: 6/5;
}


section {
  padding: 20px 0;
}

@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}


/* color */
.bg-theme {
  background-color: #F1F1E6;
}

.bg-white {
  background-color: #FDFDFD;
}

.bg-purple {
  background-color: #370C5A;
  color: #FDFDFD;
}

.text-c-redflagsout {
  color: #EB647E;
}

.text-c-chgh {
  color: #5B5BA4;
}

.text-c-dd {
  color: #4263DB;
}

.text-c-purple {
  color: #370C5A;
}

/* #BannerImg {
  max-width: 500px;
} */

.banner {}

.div_slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.div_slider h4 {
  margin-bottom: 0;
  font-weight: 500;
}

.my-arrow {
  background: none;
}

/* Default css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.py-c {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .py-c {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* @include media-breakpoint-up(sm) {
  .py-c {
    padding-top: 2rem; 
    padding-bottom: 2rem;
  }
} */


/* carousel */
.carousel {
  overflow: visible;
  padding-bottom: 8rem;
}

.carousel-caption {
  top: 100%;
}

.carousel-inner {
  overflow: visible;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  bottom: 4rem;
}

.carousel-control-next,
.carousel-control-prev {
  /* scale: 200%; */
}

.carousel-control-prev-icon {
  background-image: url("./asset/img/arrow_left.svg");
  width: 80px;
  height: 80px;
}

.carousel-control-next-icon {
  background-image: url("./asset/img/arrow_right.svg");
  width: 80px;
  height: 80px;
}

#C_highfidelity {
  max-width: 900px;

}

/* zoom in */
.gg-zoom-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  background:
    linear-gradient(to bottom,
      currentColor 5px, transparent 0) no-repeat 2px 5px/8px 2px;
  margin-top: -4px
}

.gg-zoom-in::after,
.gg-zoom-in::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 8px;
  background: currentColor
}

.gg-zoom-in::after {
  transform: rotate(-45deg);
  border-radius: 3px;
  top: 10px;
  left: 12px
}

.gg-zoom-in::before {
  top: 2px;
  left: 5px
}


.zoom {
  /* cursor: pointer; */
  cursor: url("./asset/img/zoomin.svg"), pointer;
  max-width: 900px;
}

/* lightbulb icon */
.lightbulb {
  height: 30px;
}

.div-FS-research {
  border: solid #370C5A 1px;
  border-radius: 20px;
  padding: 40px;
}

.div-FS-designprocess {
  border: solid #DDAFFF 1px;
  border-radius: 20px;
  padding: 40px;
}

@media (max-width: 768px) {
  .div-FS-designprocess {
    padding: 20px;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25;
  height: 0
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}


/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in-image {
  animation: fadeIn 2s;
}

.fade-out-image {
  animation: fadeOut 2s;
}


/* for ProtectedCaseStudy */
.image-container {
  position: relative;
}

.image-container:hover {
  cursor: pointer;
}

.password-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;

}

@media (min-width: 768px) {
  .password-overlay {
    border-bottom-left-radius: var(--bs-border-radius-xl) !important;
    border-top-left-radius: var(--bs-border-radius-xl) !important;
  }
}


.image-container:hover .password-overlay {
  opacity: 1;
}


.navbar {
  backdrop-filter: blur(8px);
}

/* Optional: Add transition for smooth shadow effect on scroll */
.navbar.shadow-sm {
  transition: box-shadow 0.3s ease;
}

.scrolling-text {
  display: inline-block;
  padding: 5px 10px;
  /* Add padding for visual spacing */
}

.text-scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 10px 0;
}

.text-scroll {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
}

.text-scroll span {
  display: inline-block;
  padding-right: 50px;
  /* Space between the repeated text */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Optional: Pause animation on hover */
.text-scroll-container:hover .text-scroll {
  animation-play-state: paused;
}

.img-explanation-container {
  border-left: solid 5px #F9FBCB;
}